*
  box-sizing: border-box
// html font-size, font-family 추가
//
// html 파일 head 영역에 추가할것.
// 웹폰트 사용시
// <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel="stylesheet" type="text/css">
// 다운받으실 분은 포스카 한 산스 KR-서브셋 다운받아사용
html
  // font-size: 10px
  font-family: 'Spoqa Han Sans', 'Sans-serif'

html,body,div,header,section,h1,h2,p,fieldset,input,label,fieldset
  margin: 0
  padding: 0


[v-cloak]
  display: none

// 태그에 직접 주는건 위험함.
a
  text-decoration: none

li
  list-style: none

fieldset
  border: 0

input,select,option,button
  font-size: inherit
  font-family: inherit
