
// 상세 페이지 컨텐츠 영역
.detail-contents {
  // position: absolute;
  // top: 20px;
  // left: 20px;
  // right: 20px;
  // bottom: 20px;
  // background-color: #fff;
  // display: flex;
  // justify-content: center;
  // Desktops and Loptops and Tablets
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }

  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    // background-color: #b03e7d;
  }
}

.detail-contents__article {
  // Desktops and Loptops and Tablets
  @media screen and (min-width: 768px) {
    position: relative;
    // background-color: #e66fd6;
    max-width: 600px;
    align-self: center;
  }
  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
    // background-color: #6d5bee;
    width: 100%;

  }
}

.detail-contents__figure {
  // Desktops and Loptops and Tablets
  @media screen and (min-width: 768px) {
    position: relative;
    height: 400px;
  }
  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: relative;
  }
}

.detail-contents--image {
  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    height: auto;
  }
}

.detail-contents--emotion {
  // Desktops and Loptops and Tablets
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: -20px;
    right: 40px;
  }
  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: 20px;
  }
}

// .untitle {
//   position: relative;
// }

.detail-contents__title {
  // background-color: #be91a8;
  padding-top: 0.5em;
  // padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  &::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #dddddd;
    margin-top: 2px;
  }
}

.detail-contents__text {
  // Desktops and Loptops and Tablets
  @media screen and (min-width: 768px) {
    // background-color: #8cc442;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.3;
    &::after {
      content: '';
      display: block;
      height: 2px;
      background-color: #dddddd;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 49%;
    overflow-y: scroll;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.3;
    margin-bottom: 5px;
    &::after {
      content: '';
      display: block;
      height: 2px;
      background-color: #dddddd;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.detail-content--date {
  // Desktops and Loptops and Tablets
  @media screen and (min-width: 768px) {
    // background-color: #754202;
    padding-top: 0.5em;
    // padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    float: left;
    margin-top: 24px;
  }
  // Smartphones
  @media screen and (min-width: 320px) and (max-width: 767px) {
  float: left;
  margin-top: 14px;
  padding-left: 0.5em;
  }
}
