<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo_list</title>
    <link rel="stylesheet" href="../css/Todo_list.css">
</head>

<body>

    <h1>정신없는 당신 잠시 쉬어가세요</h1>

    <div class="flip-card">
        <figure class="flip-card__front">ToDay-ToDo</figure>
        <figure class="flip-card__back">

            <div class="app">
                <div class="input_group">
                    <label for="Day_Memo">Day_Memo</label>
                    <input id="Day_Memo" type="text" placeholder="remember today..">
                    <button class="Day_Memo_button" type="button">add</button>
                    <button class="close_button" type="button">X</button>
                </div>

                <ul class="Day_list">
                    <li>오늘 하루는...</li>
                </ul>

            </div>
        </figure>
    </div>



    <script src="../js/Todo_list.js"></script>
</body>

</html>
